<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <%- include('../partials/styles.ejs') %>
</head>
<body NODE_ENV="<%=NODE_ENV%>">


    <div id="category_page_container">

        <%- include('../partials/navbar.ejs') %>

        <div id="category_form_container">
            <form id="add_category_form" class="form_styles_general" onsubmit="event.preventDefault(), jsForm.postForm(this, '/category/addCategory')">
                <h2 class="form_header">Add an Expense Category</h2>
                <label class="form_label" for="category_name">Category Name<span class="form_astrick">*</span></label>
                <input class="form_input" type="text" name="category_name">
                <input type="hidden" name="_csrf" value=<%=csrfToken%>>
                <div class="form_button_container">
                    <button class="form_button" type="submit">
                        <p class="form_button_text">Add</p>
                        <i class="fa-solid fa-boxes-stacked"></i>
                    </button>
                    <div name='loading-icon' class="loading_icon"></div>
                </div>
            </form>
        </div>

        <div id="wrapper_delete_category_button">
            <button id='delete_category_button' style='display:none;' onclick="toggle.removeElements(this, {
                elements: jsTable.getRowsWithCheckedBoxes('category_delete_checkbox'),
                fetch: true,
                tableElement: document.getElementById('category_table')
            })">
                <i class="fa-solid fa-trash-can fa-2x"></i>
            </button>
        </div>

        <div id="category_table_container">
            <% if (categories.length > 0) { %>
                <table id="category_table" class="shadow_card">
                    <tr>
                        <th>Category</th>
                        <th>Delete</th>
                    </tr>
                    <% categories.forEach(category => { %>
                        <tr class="category_info_row" url=<%=`/category/deleteCategory/${user._id}/${category._id}`%> >
                            <td><%=category.name%></td>
                            <td>
                                <input class='category_delete_checkbox' type="checkbox" onclick="toggle.condition({
                                    display: 'flex',
                                    element: document.getElementById('delete_category_button'),
                                    condition: jsTable.hasCheckedCheckboxes(this.className)
                                })">
                            </td>
                        </tr>
                    <% }) %>
                </table>
            <% } %>
        </div>
                
    </div>
    
    
</body>
</html>

<%- include('../partials/scripts.ejs') %>