<%- include('../partials/navbar.ejs') %>

<h2>Add an Expense Category</h2>
<form action="/category/addCategory" method="POST">
    <label for="category_name">Category Name</label>
    <input type="text" name="category_name">
    <label for="category_description">Category Description</label>
    <textarea type="text" name="category_description"></textarea>
    <input type="hidden" name="_csrf" value=<%=csrfToken%>>
    <button>Submit</button>
</form>

<button id='delete_category_button' style='display:none;' onclick="deleteCategory(this, '<%=NODE_ENV%>')">Delete</button>

    <% if (categories.length > 0) { %>
        <table id="category_table">
            <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Delete</th>
            </tr>
            <% categories.forEach(category => { %>
                <tr class="category_info_row" user=<%= user._id %> category=<%= category._id %>  >
                    <td><%=category.name%></td>
                    <td><%=category.description%></td>
                    <td>
                        <input class='category_delete_checkbox' type="checkbox" onclick="toggleDeleteButton(this)">
                    </td>
                </tr>
            <% }) %>
        </table>
    <% } %>

<!-- contains functions to work with tables -->
<script src="../../public/service/tableFunctions.js"></script>
<!-- contains functions to work with URLS -->
<script src="../../public/service/URLFunctions.js"></script>
    

<script>

//toggles a delete button to remove specific invoices
const toggleDeleteButton = () => {
        const deleteButton = document.getElementById('delete_category_button')
        const deleteCheckboxes = document.getElementsByClassName('category_delete_checkbox') //grabbing all our checkboxes as an array
        //looping through the checkboxes to see if any are checked
        toggleCheckboxButton(deleteCheckboxes, deleteButton, 'flex')
    }

const deleteCategory = async (e, env) => {

    //setting up our variables
    let url
    const categoryTable = document.getElementById('category_table')
    const categoryInfoRows = document.getElementsByClassName('category_info_row') //this row contains all category data

     //this function loops through the table and returns an array
    //the array will contain any rows which contain a checkbox matching the given classname
    const checkedRows = getCheckedRows(categoryInfoRows, 'category_delete_checkbox')

    //this function takes in an array of speicific rows and removes them
    //if the last row is removed, the given table is also removed
    removeRowsAndTable(checkedRows, categoryTable)

    //removing our delete button
    e.style.display = 'none'

    //looping through our rows (each representing an invoice) to call fetch requests for deletion
    for (x = 0; x < checkedRows.length; x++) {
            
            //getting our url based off our NODE_ENV
            url = getURL(env, '/category/deleteCategory', {
                user: checkedRows[x].getAttribute('user'),
                category: checkedRows[x].getAttribute('category')
            })

            //calling our fetch request to delete the invoice/invoices
            const response = await fetch(url, {
                method:'DELETE'
            })
            const data = await response.json()

            console.log(data)
        }


    
}
</script>