<%- include('../partials/navbar.ejs') %>

<h2>Add an Expense Category</h2>
<form action="/category/addCategory" method="POST">
    <label for="category_name">Category Name</label>
    <input type="text" name="category_name">
    <label for="category_description">Category Description</label>
    <textarea type="text" name="category_description"></textarea>
    <input type="hidden" name="_csrf" value=<%=csrfToken%>>
    <button>Submit</button>
</form>

    <% if (categories.length > 0) { %>
        <table>
            <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Function</th>
            </tr>
            <% categories.forEach(category => { %>
                <tr>
                    <td><%=category.name%></td>
                    <td><%=category.description%></td>
                    <td>
                        <button env=<%=NODE_ENV%> onclick="deleteCategory(this, '<%=category._id%>', '<%=user._id%>' )">Delete</button>
                    </td>
                </tr>
            <% }) %>
        </table>
    <% } %>
    

<script>
const deleteCategory = async (e, category, user) => {

    //setting up our variables
    let url
    let categoryTable
    let categoryTableRows

    //checking how many rows are in our table
    categoryTable = e.parentElement.parentElement.parentElement
    categoryTableRows = categoryTable.children.length

    //checking if we are in production or development
    if (e.getAttribute('env') == 'development'){
        url = 'http://localhost:5000/category/deleteCategory/' + user + '/' + category 
    } else {
        //production url here
    }

    //making our fetch request
    try {
        const response = await fetch(url, {
        method: 'DELETE'
        })
        const data = await response.json() //response data lives here
        console.log(data)
    } catch (error) {
        console.log(error)
    }

    //removing the category, if it is the last category removing the whole table
    if (categoryTableRows <= 2){
        categoryTable.remove()
    } else {
        e.parentElement.parentElement.remove() //removing the table row
    }
    
}
</script>