<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/styles.ejs') %>
    <title>Invoices</title>
</head>
<body NODE_ENV="<%=NODE_ENV%>">

    <div id="invoice_page_grid">

        <%- include('../partials/navbar.ejs') %>

        <div id="invoice_form_container">
            <form id='add_invoice_form' class="form_styles_general" onsubmit="event.preventDefault(), jsForm.postForm(this, '/invoice/addInvoice')">
                <h2 class="form_header">Add a New Invoice</h2>
                <label class="form_label" for="invoice_name">Invoice Name<span class="form_astrick">*</span></label>
                <input class="form_input" type="text" name="invoice_name">
                <label class="form_label" for="invoice_description">Invoice Description<span class="form_astrick">*</span></label>
                <input class="form_input" type="text" name="invoice_description">
                <input type="hidden" name="invoice_date" id="invoice_date">
                <input type="hidden" name="_csrf" value=<%=csrfToken%>>
                <div class="form_button_container">
                    <button type='submit' class="form_button">
                        <p class="form_button_text">Add</p>
                        <i class="fa-solid fa-file-invoice-dollar"></i>
                    </button>
                    <div name="loading-icon" class="loading_icon"></div>
                </div>
            </form>
        </div>
        

        <div id="wrapper_delete_invoice_button">
            <button style=display:none; id="delete_invoice_button"  onclick="toggle.removeElements(this, {
                elements: jsTable.getRowsWithCheckedBoxes('invoice_delete_checkbox'),
                fetch: true,
                tableElement: document.getElementById('invoice_table')
            })">
                <i class="fa-solid fa-trash-can fa-2x hover_red"></i>
            </button>
        </div>
        

        <div id="invoice_table_container">
            <% if (invoices.length > 0) { %>
                <table id="invoice_table" class="shadow_card">
                    <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th style="display:none;">Description</th>
                        <th>Cost</th>
                        <th>Delete</th>
                    </tr>
                    <% invoices.forEach(invoice => { %>
                        <tr class="invoice_info_row" url=<%=`/invoice/deleteInvoice/${invoice._id}`%>>
                            <td><%=invoice.date%></td>
                            <td><a href=<%= `/invoice/${invoice._id}` %>><%= invoice.name %> </a></td>
                            <td>$<%=invoice.cost %> </td>
                            <td class="table_checkbox">
                                <input class='invoice_delete_checkbox' type="checkbox" onclick="toggle.condition({
                                    display: 'flex',
                                    element: document.getElementById('delete_invoice_button'),
                                    condition: jsTable.hasCheckedCheckboxes(this.className)
                                })">
                            </td>
                        </tr>
                    <% }) %>
                </table>
            <% } %>
        </div>

        

    </div>
    
</body>
</html>

<%- include('../partials/scripts.ejs') %>