<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print Invoice</title>
    <%- include('../partials/styles.ejs') %>

</head>
<body id="invoice" NODE_ENV="<%=NODE_ENV%>" onload="printInvoice(this, '<%=NODE_ENV%>', '<%=invoice._id%>')">



    <div id="print_invoice_header">
        <h3 id="invoice_date"><%=invoice.date%></h3>
        <h3 id="invoice_name"><%=invoice.name%></h3>
        <h3 id="invoice_cost">$<%=invoice.cost%></h3>
    </div>




    <% categories.forEach(category => { %>

        <!-- setting our total to 0 (initializing) -->
        <% let total = 0 %>

            <table class="print_invoice_table">

            <!-- resetting the total at the start of each category -->
            <% total = 0 %> 
            <% includeCategory = false %>

            <!-- running through each expense to see if it even has completed categories -->
            <% expenses.forEach(expense => { %>
                <!-- if the expense matches the current category and is completed then include the category -->
                <% if (expense.category == category && expense.completed == true) { %>
                    <% includeCategory = true %> 
                <% } %>
            <% }) %>
            
            <% if (includeCategory == true) { %>

                <tr>
                    <th class="title_row" colspan="4"><%=category%></th>
                </tr>

                <tr>
                    <th>Date</th>
                    <th>Vendor</th>
                    <th>Description</th>
                    <th>Cost</th>
                </tr>


                <% expenses.forEach(expense => { %>

                    <!-- if the expense name matches the category name and the expense is completed, then add it to the invoice -->
                    <% if (expense.category == category && expense.completed == true) { %>
                        <!-- keep a running total by adding the cost to the total -->
                        <% total = total + expense.cost %>
                        <tr>
                            <td><%= expense.date %></td>
                            <td><%= expense.vendor %> </td>
                            <td><%= expense.description %> </td>
                            <td>$<%= expense.cost %> </td>
                        </tr>
                    <% } %>

                <% }) %>

                <tr class="total_row">
                    <!-- make sure to round the total to the hunderedths place -->
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>$<%=Math.round(100*total)/100%></strong></td>
                </tr>
            
            <% } %>

            </table>

        <% }) %>


</body>

</html>

    

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- contains functions to work with URLS -->
<script src="../../public/service/URLFunctions.js"></script>

<script>
    const printInvoice = (e, env, invoiceID) => {
        //setting up our url
        let url

        url = getURL('/invoice', {
            invoiceID: invoiceID
        })

        // converting page into pdf
        // html2pdf(document.getElementById('invoice'))
        
        //redirecting
        // window.location.replace(url)

    }
</script>