<%- include('../partials/navbar.ejs') %>

<h1><%=invoice.name%></h1>
<h2><%=invoice.date%></h2>
<p><%=invoice.description%></p>


<h2>Add an Expense</h2>
<form action=<%="/expense/addExpense/" + invoice._id%> method="POST">
    <label for="expense_category">Expense Category</label>
        <select name="expense_category" id="expense_category">
            <option value=""></option>
            <% categories.forEach(category => { %>
                <option value="<%=category.name%>"><%=category.name%></option>
            <% }) %>
        </select>
    <label for="expense_date">Expense Date</label>
    <input type="text" name="expense_date" placeholder="01/01/2022">
    <label for="expense_name">Place of Purchase</label>
    <input type="text" name="expense_place">
    <label for="expense_description">Expense Description</label>
    <input type="text" name="expense_description">
    <label for="expense_price">Cost</label>
    <input type="text" name="expense_price">
    <button>Add</button>
</form>

<h2>Expenses</h2>
<h3 id="cost"><%=cost%></h3>

<% if (expenses.length > 0) { %>
    <table id="expense_table">
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Place</th>
            <th>Description</th>
            <th>Price</th>
            <th>Completed?</th>
            <th>Modify</th>
        </tr>
        <% expenses.forEach(expense => { %>
            <tr>
                <td><%=expense.date%></td>
                <td><%=expense.category%></td>
                <td><%=expense.place%></td>
                <td><%=expense.description%></td>
                <td class="expense_price"><%=expense.price%></td>
                <td>
                    <% if (expense.completed == true) { %>
                        <input type="checkbox" name="expense_completed" onclick="completeExpense(this, '<%=NODE_ENV%>', '<%=expense._id%>', '<%=invoice._id%>')" checked>
                    <% } else { %>
                        <input type="checkbox" name="expense_completed" onclick="completeExpense(this, '<%=NODE_ENV%>', '<%=expense._id%>', '<%=invoice._id%>')">
                    <% } %>
                </td>
                <td>
                    <button toggled='false' name="edit_button" onclick="toggleEditForm(this)">Edit</button>
                </td>
            </tr>
            <!-- need to move this over to css later (this inline styling) -->
            <tr style="display:none;">
                <form action=<%="/expense/updateExpense/" + invoice._id + '/' + expense._id%> method='POST'>
                    <td>
                        <input type="text" name="expense_date" value="<%=expense.date%>">
                    </td>
                    <td>
                        <select name="expense_category">
                            <option value="<%=expense.category%>"><%=expense.category%></option>
                            <% categories.forEach(category => { %>
                                <!-- omit the current category from the lisitng -->
                                <%if (expense.category != category.name) { %>
                                    <option value="<%=category.name%>"><%=category.name%></option>
                                <% } %>
                            <% }) %>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="expense_place" value="<%=expense.place%>">
                    </td>
                    <td>
                        <input type="text" name="expense_description" value="<%=expense.description%>">
                    </td>
                    <td>
                        <input type="text" name="expense_price" value="<%=expense.price%>">
                    </td>
                    <td>
                        <% if (expense.completed == true) { %>
                            <input type="checkbox" name="expense_completed" onclick="completeExpense(this, '<%=NODE_ENV%>', '<%=expense._id%>', '<%=invoice._id%>')" checked>
                        <% } else { %>
                            <input type="checkbox" name="expense_completed" onclick="completeExpense(this, '<%=NODE_ENV%>', '<%=expense._id%>', '<%=invoice._id%>')">
                        <% } %>
                    </td>
                    <td>
                        <button type="submit" onclick="toggleEditForm(this)" id=<%=expense._id%>>Save</button>
                        <button type="button" env=<%=NODE_ENV%> onclick="deleteExpense(this, '<%=NODE_ENV%>', '<%=expense._id%>', '<%=invoice._id%>')">Delete</button>
                        <button type="button" onclick="toggleEditForm(this)">Cancel</button>
                    </td>
                </form>
            </tr>
        <% }) %>
    </table>
<% } %>

<script src="../../public/scripts/singleInvoice.js"></script>
