<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=invoice.name%></title>
    <%- include('../partials/styles.ejs') %>
</head>
<body NODE_ENV="<%=NODE_ENV%>" page="single_invoice_page">
    
    <div id="grid-main-single-invoice">

        <%- include('../partials/navbar.ejs') %>

        <section id="wrapper-header-single-invoice" class="flex-row-center-align margin-bottom-md">
            <div id="grid-header-single-invoice" class="padding-sm border-radius-dull max-width-phone-size width-100 border-top-main-color box-shadow-main">
                <h1 class="header-title font-size-xl font-family-primary"><%=invoice.name%></h1>
                <p class="header-invoice-date font-size-lg font-family-secondary"><%=invoice.date%></p>
                <p class="header-invoice-description font-size-lg font-family-secondary"><%=invoice.description%></p>
                <div class="header-invoice-cost flex-row-end-align">
                    <h1 id="invoice-cost" class="font-size-lg font-family-primary">$<%=invoice.cost%></h1>
                </div>
                <div class="header-invoice-print-button flex-row-end-align">
                    <a href=<%=`/invoice/generateInvoicePdf/${invoice._id}`%>>
                        <i class="fa-solid fa-print fa-lg hover-color-main"></i>
                    </a>
                </div>   
                <button id="expense_delete_button" style="display:none;" onclick="deleteExpenses(this, '<%=NODE_ENV%>')">
                    <i class="fa-solid fa-trash-can fa-xl hover-color-red"></i>    
                </button>   
            </div>
             
        </section>

        <section id="wrapper-form-add-expense-single-invoice" class="flex-row-center-align margin-bottom-md">
            <form id="grid-form-add-expense-single-invoice" class="padding-sm border-radius-dull max-width-phone-size width-100 border-top-main-color box-shadow-main" onsubmit="event.preventDefault(), jsForm.postForm(this, '<%=`/expense/addExpense/${user._id}/${invoice._id}`%>')">
                <h1 class="font-size-xl font-family-primary margin-bottom-xs">Add an Expense</h1>
                <label class="font-size-md font-family-primary" for="expense_date">Date<span>*</span></label>
                <input class="font-size-lg font-family-secondary margin-bottom-xs border-radius-sharp border-black-sm border-focus-main-color" type="text" name="expense_date" placeholder="01/01/2022">
                <label class="font-size-md font-family-primary" for="expense_vendor">Vendor<span>*</span></label>
                <select class="font-size-lg font-family-secondary margin-bottom-xs border-radius-sharp border-black-sm border-focus-main-color" name="expense_vendor" id="expense_vendor">
                    <option value=""></option>
                    <% vendors.forEach(vendor => { %>
                        <option value="<%=vendor.name%>"><%=vendor.name%></option>
                    <% }) %>
                </select>
                <label class="font-size-md font-family-primary" for="expense_category">Category<span>*</span></label>
                <select class="font-size-lg font-family-secondary margin-bottom-xs border-radius-sharp border-black-sm border-focus-main-color" name="expense_category" id="expense_category">
                    <option value=""></option>
                    <% categories.forEach(category => { %>
                        <option value="<%=category.name%>"><%=category.name%></option>
                    <% }) %>
                </select>    
                <label class="font-size-md font-family-primary" for="expense_description">Description<span>*</span></label>
                <input class="font-size-lg font-family-secondary margin-bottom-xs border-radius-sharp border-black-sm border-focus-main-color" type="text" name="expense_description">
                <label class="font-size-md font-family-primary" for="expense_cost">Cost<span>*</span></label>
                <input class="font-size-lg font-family-secondary margin-bottom-xs border-radius-sharp border-black-sm border-focus-main-color" type="text" name="expense_cost">
                <div class="flex-row-center-align">
                    <button class="bg-color-main flex-row-center-align width-33 border-radius-sharp border-black-sm hover-bg-color-black hover-color-main hover-border-main" type="submit">
                        <h1 class="font-size-lg font-family-primary width-100">
                            Add
                            <i class="fa-solid fa-money-check padding-left-sm"></i>
                        </h1>
                    </button>
                    <div name="loading-icon" class="loading_icon"></div>
                </div>
            </form>
        </section>


        <% if (expenses.length > 0) { %>
            <section id="wrapper-expenses-single-invoice" class="flex-row-center-align margin-bottom-md padding-sides-80">
                <div id="grid-expenses-single-invoice">
                    <div id="grid-expenses-header">
                        <h3 class="header-expense-date">Date</h3>
                        <h3 class="header-expense-invoice">Invoice</h3>
                        <h3 class="header-expense-vendor">Vendor</h3>
                        <h3 class="header-expense-category">Category</h3>
                        <h3 class="header-expense-description">Description</h3>
                        <h3 class="header-expense-cost">Cost</h3>
                        <h3 class="header-expense-submit">Submit</h3>
                    </div>
                    <% expenses.forEach(expense => { %>
                        <form class="form-expense-item">
                            <input class="input-expense-date" value="<%=expense.date%>"></input>
                            <select class="input-expense-invoice flex-row-center-align" name="expense_invoice">
                                <option value="<%=invoice.name%>"><%=invoice.name%></option>
                                <% invoices.forEach(inv => { %>
                                    <!-- omit the current category from the lisitng -->
                                    <%if (inv.name != invoice.name) { %>
                                        <option value="<%=inv.name%>"><%=inv.name%></option>
                                    <% } %>
                                <% }) %>
                            </select>
                            <select class="input-expense-vendor" name="expense_vendor">
                                <option value="<%=expense.vendor%>"><%=expense.vendor%></option>
                                <% vendors.forEach(vendor => { %>
                                    <!-- omit the current category from the lisitng -->
                                    <%if (expense.vendor != vendor.name) { %>
                                        <option value="<%=vendor.name%>"><%=vendor.name%></option>
                                    <% } %>
                                <% }) %>
                            </select>
                            <select class="input-expense-category" name="expense_category">
                                <option value="<%=expense.category%>"><%=expense.category%></option>
                                <% categories.forEach(category => { %>
                                    <!-- omit the current category from the lisitng -->
                                    <%if (expense.category != category.name) { %>
                                        <option value="<%=category.name%>"><%=category.name%></option>
                                    <% } %>
                                <% }) %>
                            </select>
                            <input class="input-expense-description" value="<%=expense.description%>"></innput>
                            <input class="input-expense-cost" value="<%=expense.cost%>"></input>
                            <i class="fa-solid fa-floppy-disk input-expense-submit"></i>
                        </form>
                    <% }) %>
                </div>
            </section>
        <% } %>

        
        <section id="wrapper-expenses-mobile-single-invoice" class="flex-column-center-align margin-bottom-md">
            <% expenses.forEach(expense => { %>
                <div class="grid-expense-mobile-information max-width-phone-size width-100 padding-sm border-radius-dull border-top-main-color box-shadow-main margin-bottom-md">
                    <h1 class="expense-mobile-date font-size-xl font-family-primary"><%=expense.date%></h1>
                    <div class="expense-mobile-icon flex-row-end-align">
                        <i class="fa-solid fa-pencil hover-color-main" onclick="toggle.hideAndShowByClassName({
                            style: 'grid',
                            showClassName: 'grid-expense-mobile-information',
                            hideClassName: 'grid-expense-mobile-update-form',
                        }), toggle.swap({
                            display: 'grid',
                            element1: this.parentElement.parentElement,
                            element2: this.parentElement.parentElement.nextElementSibling,
                        })"></i>
                    </div>
                    <div class="expense-mobile-icon flex-row-end-align display-none">
                        <i class="fa-solid fa-trash-can hover-color-red" onclick="jsFetch.deleteAndRemove({
                            url: '<%=`/expense/deleteExpense/${expense._id}`%>',
                            elements: {
                                element1: this.parentElement.parentElement,
                                element2: this.parentElement.parentElement.nextElementSibling
                            },
                            parent: this.parentElement.parentElement.parentElement,
                        })"></i>
                    </div>
                    <p class="expense-mobile-vendor font-size-md font-family-primary"><%=expense.vendor%></p>
                    <div class="expense-mobile-delete flex-row-end-align">
                        <p class="font-size-md font-family-primary">Delete</p>
                        <input type="checkbox" class="margin-left-sm" onclick="toggle.swap({
                            display: 'flex',
                            element1: this.parentElement.previousElementSibling.previousElementSibling.previousElementSibling,
                            element2: this.parentElement.previousElementSibling.previousElementSibling,
                        })">
                    </div>
                    <p class="expense-mobile-cost font-size-md font-family-primary">$<%=expense.cost%></p>
                    <div class="expense-mobile-complete flex-row-end-align">
                        <p class="font-size-md font-family-primary">Complete</p>
                        <% if (expense.completed == true) { %>
                            <input class="margin-left-sm" type="checkbox" checked onclick="jsFetch.putAndRender({
                                url: '<%=`/expense/completeExpense/${invoice._id}/${expense._id}`%>',
                                renderTarget: document.getElementById('invoice-cost'),
                            })">
                        <% } else { %>
                            <input class="margin-left-sm" type="checkbox" onclick="jsFetch.putAndRender({
                                url: '<%=`/expense/completeExpense/${invoice._id}/${expense._id}`%>',
                                renderTarget: document.getElementById('invoice-cost'),
                            })">
                        <% } %>
                    </div>
                </div>
                <form class="grid-expense-mobile-update-form max-width-phone-size width-100 padding-sm border-radius-dull border-top-main-color box-shadow-main display-none" onsubmit="event.preventDefault(), jsForm.postForm(this, '<%=`/expense/updateExpense/${invoice._id}/${expense._id}`%>')">
                    <h1 class="font-size-xl font-family-primary margin-bottom-xs">Update Expense</h1>
                    <div class="expense-mobile-close flex-row-end-align margin-bottom-xs">
                        <i class="fa-solid fa-x hover-color-red" onclick="toggle.swap({
                            display: 'grid',
                            element1: this.parentElement.parentElement,
                            element2: this.parentElement.parentElement.previousElementSibling
                        })"></i>
                    </div>
                    <label for="expense_date" class="expense-mobile-label-date font-size-md font-family-primary">Date</label>
                    <input type="text" name="expense_date" class="expense-mobile-input-date margin-bottom-xs border-radius-sharp border-black-sm border-focus-main-color width-100 font-size-lg font-family-secondary" value="<%=expense.date%>">
                    <label for="expense_invoice" class="expense-mobile-label-invoice font-size-md font-family-primary">Invoice</label>
                    <select name="expense_invoice" class="expense-mobile-input-invoice margin-bottom-xs border-radius-sharp border-black-sm border-focus-main-color width-100 font-size-lg font-family-secondary" name="expense_vendor">
                        <option value="<%=invoice.name%>"><%=invoice.name%></option>
                        <% invoices.forEach(inv => { %>
                            <!-- omit the current category from the lisitng -->
                            <%if (invoice.name != inv.name) { %>
                                <option value="<%=inv.name%>"><%=inv.name%></option>
                            <% } %>
                        <% }) %>
                    </select>
                    <label for="expense_vendor" class="expense-mobile-label-vendor font-size-md font-family-primary">Vendor</label>
                    <select name="expense_vendor" class="expense-mobile-input-vendor margin-bottom-xs border-radius-sharp border-black-sm border-focus-main-color width-100 font-size-lg font-family-secondary" name="expense_vendor">
                        <option value="<%=expense.vendor%>"><%=expense.vendor%></option>
                        <% vendors.forEach(vendor => { %>
                            <!-- omit the current category from the lisitng -->
                            <%if (expense.vendor != vendor.name) { %>
                                <option value="<%=vendor.name%>"><%=vendor.name%></option>
                            <% } %>
                        <% }) %>
                    </select>
                    <label for="expense_category" class="expense-mobile-label-category font-size-md font-family-primary">Category</label>
                    <select name="expense_category" class="expense-mobile-input-category margin-bottom-xs border-radius-sharp border-black-sm border-focus-main-color width-100 font-size-lg font-family-secondary" name="expense_vendor">
                        <option value="<%=expense.category%>"><%=expense.category%></option>
                        <% categories.forEach(category => { %>
                            <!-- omit the current category from the lisitng -->
                            <%if (expense.category != category.name) { %>
                                <option value="<%=category.name%>"><%=category.name%></option>
                            <% } %>
                        <% }) %>
                    </select>
                    <label for="expense_description" class="expense-mobile-label-description font-size-md font-family-primary">Description</label>
                    <input name="expense_description" type="text" class="expense-mobile-input-description margin-bottom-xs border-radius-sharp border-black-sm border-focus-main-color width-100 font-size-lg font-family-secondary" value="<%=expense.description%>">
                    <label for="expense_cost" class="expense-mobile-label-cost font-size-md font-family-primary">Cost</label>
                    <input name="expense_cost" type="text" class="expense-mobile-input-cost margin-bottom-xs border-radius-sharp border-black-sm border-focus-main-color width-100 font-size-lg font-family-secondary" value="<%=expense.cost%>">
                    <div class="expense-mobile-submit-button flex-row-center-align">
                        <button class="bg-color-main flex-row-center-align width-33 border-radius-sharp border-black-sm hover-bg-color-black hover-color-main hover-border-main" type="submit">
                            <h1 class="font-size-lg font-family-primary width-100">
                                Update
                                <i class="fa-solid fa-file-pen padding-left-sm"></i>
                            </h1>
                        </button>
                        <div name="loading-icon" class="loading_icon"></div>
                    </div>
                </form>
            <% }) %>
        </section>

        <footer id="single_invoice_footer">

        </footer>

    </div>

</body>
</html>

<%- include('../partials/scripts.ejs') %>

<script>

    const updateExpense = async (e, invoiceID, expenseID) => {

        //setting up our variables
        let updateExpenseForm = document.getElementById(expenseID + 'form')
        const loadingIcon = document.getElementById(expenseID+'loading_icon')
        const loadingContainer = document.getElementById(expenseID+'loading_container')
        let url

        //displaying our loading icon
        toggle.oneWay('block', {
            loadingIcon: e.children[1]
        })
        toggle.oneWay('none', {
            saveIcon: e.children[0]
        })

        //getting our url for fetch
        url = `/expense/updateExpense/${invoiceID}/${expenseID}/`

        //calling our fetch request
        const response = await fetch(url, {
            method: "POST",
            body: form.getData(updateExpenseForm),
        })

        //reloading the page
        window.location.reload()

    }

    const updateMobileExpense = async (invoiceID, expenseID) => {

        //setting up our variables
        const updateMobileExpenseForm = document.getElementById(expenseID + 'mobile_expense_form')
        const loadingIcon = document.getElementById(expenseID + 'loading_icon')
        const loadingContainer = document.getElementById(expenseID+'loading_container')
        let url

        //display loader
        form.displayLoader(e, loadingIcon, loadingContainer)

        //getting our url
        url = `/expense/updateExpense/${invoiceID}/${expenseID}/`

        //calling our fetch request
        const response = await fetch(url, {
            method: "POST",
            body: form.getData(updateMobileExpenseForm),
        })

        //reloading the page
        window.location.reload()

    }

    const toggleMobileSaveButton = (expenseID) => {

        deleteCheckbox = document.getElementById(expenseID + 'mobile_expense_delete_checkbox')

        //unchecking the delete checkbox if it is checked to toggle off delete button
        if (deleteCheckbox.checked){
            deleteCheckbox.click()
        }

        toggle.oneWay('', {
            saveButton: document.getElementById(expenseID + 'mobile_expense_save_button')
        })
    }

    const toggleMobileExpenseDeleteButton = (e, expenseID) => {
        toggle.simple({
            deleteButton: document.getElementById(expenseID + 'mobile_expense_delete_button')
        })
        if (document.getElementById(expenseID + 'mobile_expense_save_button').style.display != 'none'){
            toggle.simple({
                saveButton: document.getElementById(expenseID + 'mobile_expense_save_button')
            })
        }
    }

    const toggleMobileTable = (e, expenseID) => {

        //getting our variables
        let expenseChildren = e.children
        let lastChild = expenseChildren[expenseChildren.length-1]
        let deleteCheckbox = document.getElementById(expenseID + 'mobile_expense_delete_checkbox')
        let mobileExpenseSaveButton = document.getElementById(expenseID + 'mobile_expense_save_button')
        let cssRoot = document.querySelector(":root")
        let cssVariables = getComputedStyle(cssRoot)
        let firstColor = cssVariables.getPropertyValue('--first-color')
        let thirdColor = cssVariables.getPropertyValue('--second-color')

        //toggling which direction the arrow is pointing
        toggle.simple({
            upArrow: lastChild.children[0],
            downArrow: lastChild.children[1],
        })

        if (mobileExpenseSaveButton.style.display != 'none'){
            toggle.simple({
                saveButton: mobileExpenseSaveButton
            })
        }

        //changing the background color on click
        for (x = 0; x < e.children.length; x++){
            toggle.backgroundColor(firstColor, thirdColor, {
                e: e.children[x],
            })
        }    

        //toggling all rows in associated with the expense by their classname
        toggle.simpleArray(document.getElementsByClassName(expenseID + 'more_info'))

        //checking if the delete checkbox is toggled
        if (deleteCheckbox.checked){
            deleteCheckbox.checked = false
            toggle.simple({
                deleteButton: document.getElementById(expenseID + 'mobile_expense_delete_button')
            })
        }
    }

    const deleteMobileExpense = async (e, expenseID) => {

        //setting up our variables
        let url
        let mobileExpenseTable = document.getElementById(expenseID + 'mobile_expense_table')

        //grabbing our NODE_ENV from the body
        const NODE_ENV = document.getElementsByTagName('body')[0].getAttribute('NODE_ENV')

        //removing the expense table
        mobileExpenseTable.remove()

        //getting our url for our fetch request
        url = `/expense/deleteExpense/${expenseID}/`

        //calling our fetch request to delete the expense/expenses
        const response = await fetch(url, {
                method:'DELETE'
        })

        //getting the data back (the new cost of the invoice)
        const data = await response.json()

        //updating the cost of our invoice in the DOM
        document.getElementById('invoice_cost').innerText = "$" + data.cost

    }

    const setExpenseInputWidth = () => {

        const setWidthInputs = document.getElementsByClassName('expense_input')
        const descriptionInputs = document.getElementsByClassName('expense_input_description')
        const costInput = document.getElementsByClassName('expense_input_cost')

        //cycling through set width inputs
        //these are all the same width no matter what
        for (x = 0; x < setWidthInputs.length; x++){
            setWidthInputs[x].size = setWidthInputs[x].value.length
        }

        const setToMaxWidth = (classElements) => {
            let max = 0
            for (x = 0; x < classElements.length; x++){
                if (classElements[x].value.length > max){
                    max = classElements[x].value.length
                }
            }
            for (x = 0; x < classElements.length; x++){
                classElements[x].size = max
            }
        }

        setToMaxWidth(descriptionInputs)
        setToMaxWidth(costInput)

    }

    setExpenseInputWidth()

    const completeExpense = async (expenseID, invoiceID) => {
        
        //setting up our variables
        let url

        //defining our url based off of the NODE_ENV
        url = `/expense/completeExpense/${invoiceID}/${expenseID}/`

        //calling our fetch statement to complete the expense
        try {
            const response = await fetch(url, {
            method: 'put'
            })
            const data = await response.json()
            document.getElementById('invoice_cost').innerText = "$" + data.cost
            
        } catch (error) {
           console.log(error) 
        }  

    }

    const printInvoice = async (invoiceID) => {
        let url = `/invoice/generateInvoicePdf/${invoiceID}`
        const response = await fetch(url, {
            method: 'get'
        })
    }

    const toggleExpenseDeleteButton = async (e) => {
        const expenseDeleteButton = document.getElementById('expense_delete_button') //grabbing our delete button
        const deleteExpenseCheckboxes = document.getElementsByClassName('expense_delete_checkbox') //grabbing all the checkboxes
        toggleCheckboxButton(deleteExpenseCheckboxes, expenseDeleteButton, 'flex')
    }

    const deleteExpenses = async (e, env) => {

        let url //hold our url for our fetch request
        const expenseTable = document.getElementById('expense_table')
        const expenseInfoRows = document.getElementsByClassName('expense_info_row')

        //this function loops through the table and returns an array
        //the array will contain any rows which contain a checkbox matching the given classname
        const checkedRows = getCheckedRows(expenseInfoRows, 'expense_delete_checkbox')


        //this function takes in an array of speicific rows and removes them
        //if the last row is removed, the given table is also removed
        removeRowsAndTable(checkedRows, expenseTable)

        //removing our delete button
        e.style.display = 'none'

        // looping through our rows (each representing an expense to call fetch requests for deletion
        for (x = 0; x < checkedRows.length; x++) {
            url = `/expense/deleteExpense/${checkedRows[x].getAttribute('expense')}/`
            const response = await fetch(url, {
                method:'DELETE'
            })
            //getting the data back (the new cost of the invoice)
            const data = await response.json()
            //if it is the last loop, get the cost and render it to the screen
            if (x == checkedRows.length-1) {
                document.getElementById('invoice_cost').innerText = "$" + data.cost
            }

        }

    }




</script>