<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=invoice.name%></title>
    <%- include('../partials/styles.ejs') %>
</head>
<body NODE_ENV="<%=NODE_ENV%>" page="single_invoice_page">
    
    <div id="single_invoice_page_container">

        <%- include('../partials/navbar.ejs') %>

        <section id="single_invoice_header_container">
            <div id="single_invoice_header">
                <h2 class="header_invoice_name"><%=invoice.name%></h2>
                <h3 class="header_invoice_date"><%=invoice.date%></h3>
                <p class="header_invoice_description"><%=invoice.description%></p>
                <h4 class="header_invoice_cost" id="invoice_cost">$<%=invoice.cost%></h4>
                    <button class="invoice_print_button">
                        <a href=<%= 'http://localhost:5000/invoice/generateInvoicePdf/' + invoice._id %>>Print</a>
                    </button>
                <button id="expense_delete_button" style="display:none;" onclick="deleteExpenses(this, '<%=NODE_ENV%>')">Delete</button>
            </div>
        </section>

        <section id="add_expense_container">
            <form id="add_expense_form" class="form_styles_general" action=<%="/expense/addExpense/"+ user._id + '/' + invoice._id%> method="POST">
                <h2 class="form_header">Add an Expense</h2>
                <label class="form_label" for="expense_date">Date<span class="form_astrick">*</span></label>
                <input id="expense_date" class="form_input" type="text" name="expense_date" placeholder="01/01/2022">
                <label class="form_label" for="expense_category">Category<span class="form_astrick">*</span></label>
                <select id="expense_category" class="form_input" name="expense_category" id="expense_category">
                    <option value=""></option>
                    <% categories.forEach(category => { %>
                        <option value="<%=category.name%>"><%=category.name%></option>
                    <% }) %>
                </select>
                <label class="form_label" for="expense_name">Vendor<span class="form_astrick">*</span></label>
                <select id="expense_vendor" class="form_input" name="expense_vendor" id="expense_vendor">
                    <option value=""></option>
                    <% vendors.forEach(vendor => { %>
                        <option value="<%=vendor.name%>"><%=vendor.name%></option>
                    <% }) %>
                </select>
                <label class="form_label" for="expense_description">Description<span class="form_astrick">*</span></label>
                <input id="expense_description" class="form_input" type="text" name="expense_description">
                <label class="form_label" for="expense_cost">Cost<span class="form_astrick">*</span></label>
                <input id="expense_cost" class="form_input" type="text" name="expense_cost">
                <div class="form_button_container">
                    <button type="button" onclick="addExpense(this, '<%= user._id %>', '<%= invoice._id %>')" class="form_button">
                        <p class="form_button_text">Add</p>
                        <i class="fa-solid fa-money-check"></i>
                    </button>
                    <div class="loading_icon"></div>
                </div>
            </form>
        </section>

        <section id="mobile_expense_table_container">

            <% if (expenses.length > 0) { %>

                <table class="mobile_expense_table">

                    <% expenses.forEach(expense => { %>

                        <tbody>

                            <form action=<%="/expense/updateExpense/" + invoice._id + '/' + expense._id%> method='POST'>

                                <tr class="mobile_expense_main_row" onclick="toggleMobileTable(this, '<%=expense._id%>')">
                                    <th>
                                        <%= expense.date %>
                                    </th>
                                    <th>
                                        <%= expense.vendor %>
                                    </th>
                                    <th>
                                        $<%= expense.cost %>
                                    </th>
                                    <th>
                                        <i class="fa-solid fa-angle-up" style="display:none;"></i>
                                        <i class="fa-solid fa-angle-down"></i>
                                    </th>
                                </tr>

                                <tr class="<%=expense._id + 'more_info'%>" style="display:none;">
                                    <td>Date</td>
                                    <td colspan="3">
                                        <input class='expense_input' type="text" name="expense_date" value="<%=expense.date%>">
                                    </td>
                                </tr>

                                <tr class="<%=expense._id + 'more_info'%>" style="display:none;">
                                    <td>Category</td>
                                    <td colspan="3">
                                        <select name="expense_category">
                                            <option value="<%=expense.category%>"><%=expense.category%></option>
                                            <% categories.forEach(category => { %>
                                                <!-- omit the current category from the lisitng -->
                                                <%if (expense.category != category.name) { %>
                                                    <option value="<%=category.name%>"><%=category.name%></option>
                                                <% } %>
                                            <% }) %>
                                        </select>
                                    </td>
                                </tr> 

                                <tr class="<%=expense._id + 'more_info'%>" style="display:none;">
                                    <td>Vendor</td>
                                    <td colspan="3">
                                        <select name="expense_vendor">
                                            <option value="<%=expense.vendor%>"><%=expense.vendor%></option>
                                            <% vendors.forEach(vendor => { %>
                                                <!-- omit the current category from the lisitng -->
                                                <%if (expense.vendor != vendor.name) { %>
                                                    <option value="<%=vendor.name%>"><%=vendor.name%></option>
                                                <% } %>
                                            <% }) %>
                                        </select>
                                    </td>
                                </tr>

                                <tr class="<%=expense._id + 'more_info'%>" style="display:none;">
                                    <td>Description</td>
                                    <td colspan="3">
                                        <input class='expense_input_description' type="text" name="expense_description" value="<%=expense.description%>">
                                    </td>
                                </tr>

                                <tr class="<%=expense._id + 'more_info'%>" style="display:none;">
                                    <td>Cost</td>
                                    <td colspan="3">
                                        <input class='expense_input_cost' type="text" name="expense_cost" value="<%=expense.cost%>">
                                    </td>
                                    
                                </tr>

                                <tr class="<%=expense._id + 'more_info'%>" style="display:none;">
                                    <td>Complete</td>
                                    <td colspan="3">
                                        <% if (expense.completed == true) { %>
                                            <input type="checkbox" name="expense_completed" class='expense_complete_checkbox' onclick="completeExpense(this, '<%=NODE_ENV%>', '<%=expense._id%>', '<%=invoice._id%>')" checked>
                                        <% } else { %>
                                            <input type="checkbox" name="expense_completed" class="expense_complete_checkbox" onclick="completeExpense(this, '<%=NODE_ENV%>', '<%=expense._id%>', '<%=invoice._id%>')">
                                        <% } %>
                                    </td>
                                </tr>

                                <tr class="<%=expense._id + 'more_info'%>" style="display:none;">
                                    <td>Delete</td>
                                    <td colspan="3">
                                        <input type="checkbox" class="expense_delete_checkbox" id="<%=expense._id + 'mobile_expense_delete_checkbox'%>" onclick="toggleMobileExpenseDeleteButton(this, '<%= expense._id%>')">
                                    </td>
                                </tr>

                                <tr class="<%=expense._id + 'more_info'%>" style="display:none;">
                                    <td colspan="4">
                                        <button type="submit" class="mobile_save_button" id=<%=expense._id%>>Save</button>
                                    </td>
                                </tr>

                            </form>

                            <tr id="<%=expense._id + 'mobile_expense_delete_button'%>" style="display:none;">
                                <td colspan="4">
                                    <button type="button" class="mobile_delete_button " onclick="deleteMobileExpense(this, '<%=expense._id%>')">Delete</button>
                                </td>
                            </tr>
                        
                        </tbody>

                    <% }) %>

                </table>

            <% } %>

             


        </section> 

        </section>

        <section id="expense_table_container">

            <% if (expenses.length > 0) { %>
                <table id="expense_table">
                    <tr>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Vendor</th>
                        <th>Description</th>
                        <th>Cost</th>
                        <th id="complete_column">Complete</th>
                        <th id="delete_column">Delete</th>
                        <th>Modify</th>
                    </tr>
                    <% expenses.forEach(expense => { %>
                        <tr class="expense_info_row" expense="<%=expense._id%>">
                            <form action=<%="/expense/updateExpense/" + invoice._id + '/' + expense._id%> method='POST'>

                                <td>
                                    <input class='expense_input' type="text" name="expense_date" value="<%=expense.date%>">
                                </td>

                                <td>
                                    <select name="expense_category">
                                        <option value="<%=expense.category%>"><%=expense.category%></option>
                                        <% categories.forEach(category => { %>
                                            <!-- omit the current category from the lisitng -->
                                            <%if (expense.category != category.name) { %>
                                                <option value="<%=category.name%>"><%=category.name%></option>
                                            <% } %>
                                        <% }) %>
                                    </select>
                                </td>

                                <td>
                                    <select name="expense_vendor">
                                        <option value="<%=expense.vendor%>"><%=expense.vendor%></option>
                                        <% vendors.forEach(vendor => { %>
                                            <!-- omit the current category from the lisitng -->
                                            <%if (expense.vendor != vendor.name) { %>
                                                <option value="<%=vendor.name%>"><%=vendor.name%></option>
                                            <% } %>
                                        <% }) %>
                                    </select>
                                </td>

                                <td>
                                    <input class='expense_input_description' type="text" name="expense_description" value="<%=expense.description%>">
                                </td>

                                <td class="expense_cost">
                                    <input class='expense_input_cost' type="text" name="expense_cost" value="<%=expense.cost%>">
                                </td>

                                <td>
                                    <% if (expense.completed == true) { %>
                                        <input type="checkbox" name="expense_completed" class='expense_complete_checkbox' onclick="completeExpense(this, '<%=NODE_ENV%>', '<%=expense._id%>', '<%=invoice._id%>')" checked>
                                    <% } else { %>
                                        <input type="checkbox" name="expense_completed" class="expense_complete_checkbox" onclick="completeExpense(this, '<%=NODE_ENV%>', '<%=expense._id%>', '<%=invoice._id%>')">
                                    <% } %>
                                </td>

                                <td>
                                    <input type="checkbox" class="expense_delete_checkbox" onclick="toggleExpenseDeleteButton(this)">
                                </td>

                                <td>
                                    <button type="submit" id=<%=expense._id%>>Save</button>
                                </td>

                            </form>
                        </tr>
                    <% }) %>
                </table>
            <% } %>

        </section>






    </div>

</body>
</html>



<!-- provides us with the ability to convert an html page into a pdf -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- contains functions to work with tables -->
<script src="../../public/service/tableFunctions.js"></script>
<!-- contains functions to work with URLS -->
<script src="../../public/service/URLFunctions.js"></script>
<!-- contains functions to work with forms -->
<script src="../../public/service/forms.js"></script>


<script>

    const addExpense = async (e, userID, invoiceID) => {

        //setting up our variables
        let addExpenseForm = document.getElementById('add_expense_form')
        let NODE_ENV = document.getElementsByTagName('body')[0].getAttribute('NODE_ENV')
        let url
        let uncompletedFields = form.getEmptyFields(addExpenseForm)

        if (uncompletedFields.length > 0) {
            form.showAtricks(uncompletedFields)
            return
        } else {
            form.displayLoader(e)
        }
        
        //getting our url for our request
        url = getURL('/expense/addExpense', {
                userID: userID,
                invoiceID: invoiceID,
        })

        //calling our fetch request
        const response = await fetch(url, {
            method: "POST",
            body: form.getData(addExpenseForm),
        })

        //reloading the page
        window.location.reload()

    }

    const toggleMobileExpenseDeleteButton = (e, expenseID) => {
        toggle.simple({
            deleteButton: document.getElementById(expenseID + 'mobile_expense_delete_button')
        })
    }

    const toggleMobileTable = (e, expenseID) => {

        //getting our variables
        let expenseChildren = e.children
        let lastChild = expenseChildren[expenseChildren.length-1]
        let deleteCheckbox = document.getElementById(expenseID + 'mobile_expense_delete_checkbox')

        //toggling which direction the arrow is pointing
        toggle.simple({
            upArrow: lastChild.children[0],
            downArrow: lastChild.children[1],
        })

        //toggling all rows in associated with the expense by their classname
        toggle.simpleArray(document.getElementsByClassName(expenseID + 'more_info'))

        //checking if the delete checkbox is toggled
        if (deleteCheckbox.checked){
            deleteCheckbox.checked = false
            toggle.simple({
                deleteButton: document.getElementById(expenseID + 'mobile_expense_delete_button')
            })
        }


    }

    const deleteMobileExpense = async (e, expenseID) => {

        //setting up our variables
        let url

        //grabbing our NODE_ENV from the body
        const NODE_ENV = document.getElementsByTagName('body')[0].getAttribute('NODE_ENV')

        //removing the expense row
        e.parentElement.parentElement.parentElement.remove()

        //getting our url for our fetch request
        url = getURL('/expense/deleteExpense', {
                expenseID: expenseID
        })

        //calling our fetch request to delete the expense/expenses
        const response = await fetch(url, {
                method:'DELETE'
        })

        //getting the data back (the new cost of the invoice)
        const data = await response.json()

        //updating the cost of our invoice in the DOM
        document.getElementById('invoice_cost').innerText = "$" + data.cost

    }

    const setExpenseInputWidth = () => {

        const setWidthInputs = document.getElementsByClassName('expense_input')
        const descriptionInputs = document.getElementsByClassName('expense_input_description')
        const costInput = document.getElementsByClassName('expense_input_cost')

        //cycling through set width inputs
        //these are all the same width no matter what
        for (x = 0; x < setWidthInputs.length; x++){
            setWidthInputs[x].size = setWidthInputs[x].value.length
        }

        const setToMaxWidth = (classElements) => {
            let max = 0
            for (x = 0; x < classElements.length; x++){
                if (classElements[x].value.length > max){
                    max = classElements[x].value.length
                }
            }
            for (x = 0; x < classElements.length; x++){
                classElements[x].size = max
            }
        }

        setToMaxWidth(descriptionInputs)
        setToMaxWidth(costInput)

    }

    setExpenseInputWidth()

    const completeExpense = async (e, env, expense, invoice) => {
        
        //setting up our variables
        let url


        //defining our url based off of the NODE_ENV
        if (env == 'development'){
            url = 'http://localhost:5000/expense/completeExpense/' + invoice + '/' + expense
        } else {
            //enter production url here
        }

        //calling our fetch statement to complete the expense
        try {
            const response = await fetch(url, {
            method: 'put'
            })
            const data = await response.json()
            document.getElementById('invoice_cost').innerText = "$" + data.cost
            
        } catch (error) {
           console.log(error) 
        }  

    }

    const printInvoice = async (e, env, invoice) => {

        let url

        //getting our url based off of the NODE_ENV
        if (env == 'development'){
            url = 'http://localhost:5000/invoice/generateInvoicePdf/' + invoice
        } else {
            // enter production url here
        }

        const response = await fetch(url, {
            method: 'get'
        })
  
    }

    const toggleExpenseDeleteButton = async (e) => {
        const expenseDeleteButton = document.getElementById('expense_delete_button') //grabbing our delete button
        const deleteExpenseCheckboxes = document.getElementsByClassName('expense_delete_checkbox') //grabbing all the checkboxes
        toggleCheckboxButton(deleteExpenseCheckboxes, expenseDeleteButton, 'flex')
    }

    const deleteExpenses = async (e, env) => {

        let url //hold our url for our fetch request
        const expenseTable = document.getElementById('expense_table')
        const expenseInfoRows = document.getElementsByClassName('expense_info_row')

        //this function loops through the table and returns an array
        //the array will contain any rows which contain a checkbox matching the given classname
        const checkedRows = getCheckedRows(expenseInfoRows, 'expense_delete_checkbox')


        //this function takes in an array of speicific rows and removes them
        //if the last row is removed, the given table is also removed
        removeRowsAndTable(checkedRows, expenseTable)

        //removing our delete button
        e.style.display = 'none'

        // looping through our rows (each representing an expense to call fetch requests for deletion
        for (x = 0; x < checkedRows.length; x++) {
            
            //getting our url based off our NODE_ENV
            url = getURL('/expense/deleteExpense', {
                expense: checkedRows[x].getAttribute('expense')
            })

            //calling our fetch request to delete the expense/expenses
            const response = await fetch(url, {
                method:'DELETE'
            })

            //getting the data back (the new cost of the invoice)
            const data = await response.json()

            //if it is the last loop, get the cost and render it to the screen
            if (x == checkedRows.length-1) {
                console.log('hit')
                document.getElementById('invoice_cost').innerText = "$" + data.cost
            }

        }

    }




</script>