<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendors</title>
    <%- include('../partials/styles.ejs') %>
</head>
<body NODE_ENV="<%= NODE_ENV %>">

    <div id="vendor_page_container">

        <%- include('../partials/navbar.ejs') %>

        <div id="vendor_form_container">
            <form id="add_vendor_form" class="form_styles_general" onsubmit="event.preventDefault(), jsForm.postForm(this, `/vendor/addVendor`)">
                <h2 class="form_header" >Add a Vendor</h2>
                <label class="form_label" for="vendor_name">Vendor Name<span class="form_astrick">*</span></label>
                <input class="form_input" type="text" name="vendor_name">
                <input type="hidden" name="_csrf" value=<%=csrfToken%>>
                <div class="form_button_container">
                    <button class="form_button" type="submit">
                        <p class="form_button_text">Add</p>
                        <i class="fa-solid fa-store"></i>
                    </button>
                    <div name="loading-icon" class="loading_icon"></div>
                </div>
            </form>
        </div>

        <div id="wrapper_delete_vendor_button">
            <button id='vendor_delete_button' style='display:none;' onclick="toggle.removeElements(this, {
                elements: jsTable.getRowsWithCheckedBoxes('vendor_delete_checkbox'),
                fetch: true,
                tableElement: document.getElementById('vendor_table')
            })" >
                <i class="fa-solid fa-trash-can fa-2x hover_red"></i>
            </button>
        </div>

        <div id="vendor_table_container">
            <% if (vendors.length > 0) { %>
                <table id="vendor_table" class="shadow_card">
                    <tr>
                        <th>Vendor</th>
                        <th>Delete</th>
                    </tr>
                    <% vendors.forEach(vendor => { %>
                        <tr class="vendor_info_row" url=<%=`/vendor/deleteVendor/${vendor._id}`%> >
                            <td><%=vendor.name%></td>
                            <td>
                                <input class='vendor_delete_checkbox' type="checkbox" onclick="toggle.condition({
                                    display: 'flex',
                                    element: document.getElementById('vendor_delete_button'),
                                    condition: jsTable.hasCheckedCheckboxes(this.className)
                                })">
                            </td>
                        </tr>
                    <% }) %>
                </table>
            <% } %>
        </div>

    </div>

    

    
    
</body>
</html>


<%- include('../partials/scripts.ejs') %>