<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendors</title>
    <%- include('../partials/styles.ejs') %>
</head>
<body NODE_ENV="<%= NODE_ENV %>">

    <main>

        <%- include('../partials/navbar.ejs') %>

        <section class="flx-r-c mar-b-md">
            <form id="form-add-vendor" class='grid pad-sm mx-wth-phn wth-100 brd-t-main-dull shdw-main' url-post="/vendor/addVendor">
                <h1 class="font-p-xl mar-b-xs">Add a Vendor</h1>
                <p class="error-message bg-red clr-wht font-s-md pad-xs mar-b-xs hide">error</p>
                <label class="font-p-md" for="vendor_name">Vendor Name<span class="astrick hide">*</span></label>
                <input class="form-control form-required font-s-lg mar-b-xs brd-blk-sm-sharp brd-r-d fcs-input" type="text" name="vendor_name">
                <input class="form-control form-required" type="hidden" name="_csrf" value=<%=csrfToken%>>
                <div class="flx-r-c">
                    <button class="submit-button flx-r-c brd-main-sm-sharp pad-rl-sm clr-main bg-wht" type="submit">
                        <h1 class="font-p-lg">Add</h1>
                        <i class="fa-solid fa-store fa-lg pad-l-sm"></i>
                    </button>
                    <div class="loading-icon hide"></div>
                </div>
            </form>
        </section>

        <section class="flx-r-c mar-b-md">
            <% if (vendors.length > 0) { %>
                <table id="vendor-table" class="mx-wth-phn wth-100 shdw-main nth-tr-bg-gry nth-tr-clr-main brd-clps brd-r-tl-d brd-r-tr-d">
                    <thead>
                        <tr class="bg-main">
                            <th class="brd-r-tl-d font-p-md-l pad-xs clr-wht">
                                <div class="flx-r-c">
                                    Vendor
                                </div>
                            </th>
                            <th class="brd-r-tr-d font-p-md-l pad-xs clr-wht">
                                <div class="flx-r-c">
                                    Delete
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <% vendors.forEach(vendor => { %>
                        <tr class="row" url-delete=<%=`/vendor/deleteVendor/${vendor._id}`%> >
                            <td>
                                <div class="flx-r-c">
                                    <%=vendor.name%></td>
                                </div>
                            <td>
                                <div class="wrapper-delete-checkbox flx-r-c pad-xs">
                                    <input class="delete-checkbox" type="checkbox">
                                </div>
                                <div class="wrapper-delete-cancel flx-r-se pad-xs hide">
                                    <i class="fa-solid fa-arrow-left-long go-back-icon clr-blk hvr-clr-main"></i>
                                    <i class="fa-solid fa-trash-can delete-icon clr-blk hvr-clr-red"></i>
                                </div>
                            </td>
                        </tr>
                    <% }) %>
                </table>
            <% } %>
            </section>

    </main>

    

    
    
</body>
</html>


<%- include('../partials/scripts.ejs') %>

<script>

window.addEventListener('load', function(){

    const formAddVendor = document.getElementById('form-add-vendor')
    const formAddVendorSubmit = formAddVendor.getElementsByClassName('submit-button')[0]
    const formAddVendorInputs = formAddVendor.getElementsByClassName('form-control')
    const vendorTable = document.getElementById('vendor-table')
    const vendorTableRows = document.getElementsByClassName('row')

    //allows us to post our category form
    formAddVendor.addEventListener('submit', function(event){
        event.preventDefault()
        submitForm(formAddVendor, "POST", formAddVendor.getAttribute('url-post'))
    })

    //checks if our form is complete, if it is, activate our submit button
    for (x = 0; x < formAddVendorInputs.length; x++){
        formAddVendorInputs[x].addEventListener('input', function(){
            fireOnCondition(formIsComplete(formAddVendorInputs), {
                trueFunctions: {
                    func1: () => formAddVendorSubmit.style.backgroundColor = 'var(--main-color)',
                    func2: () => formAddVendorSubmit.style.color = 'white',
                    func3: () => formAddVendorSubmit.style.boxShadow = 'var(--box-shadow-main-color)',
                },
                falseFunctions: {
                    func1: () => formAddVendorSubmit.style.backgroundColor = '',
                    func2: () => formAddVendorSubmit.style.color = '',
                    func3: () => formAddVendorSubmit.style.boxShadow = '',
                }
            })
        })
    }

    //will toggle our delete and cancel icons when clicking the toggle delete button
    for (x = 0; x < vendorTableRows.length; x++){
        let currentRow = vendorTableRows[x]
        let currentDeleteCheckbox = currentRow.getElementsByClassName('delete-checkbox')[0]
        let currentWrapperCurrentDeleteCheckbox = currentRow.getElementsByClassName('wrapper-delete-checkbox')[0]
        let currentWrapperDeleteCancel = currentRow.getElementsByClassName('wrapper-delete-cancel')[0]
        let currentGoBackIcon = currentWrapperDeleteCancel.getElementsByClassName('go-back-icon')[0]
        let currentDeleteIcon = currentWrapperDeleteCancel.getElementsByClassName('delete-icon')[0]
        let deleteUrl = currentRow.getAttribute('url-delete')
        currentDeleteCheckbox.addEventListener('click', function(){
            currentWrapperDeleteCancel.style.display = 'flex'
            currentDeleteCheckbox.style.display = 'none'
            currentWrapperCurrentDeleteCheckbox.style.display = 'none'
        })
        currentGoBackIcon.addEventListener('click', function(){
            currentDeleteCheckbox.checked = false
            currentDeleteCheckbox.style.display = ''
            currentWrapperCurrentDeleteCheckbox.style.display = ''
            currentWrapperDeleteCancel.style.display = 'none'
        })
        currentDeleteIcon.addEventListener('click', function(){
            currentRow.remove()
            if (vendorTable.getElementsByClassName('row').length == 0){
                vendorTable.remove()
            }
            fetchSimple({
                url: deleteUrl,
                method: 'DELETE'
            })

        })
    }

})

</script>